*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#containerButtons{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#gridContainer{
    width: 100%;;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
